.cv-entry{
  .cv-skill{
    padding: 8px 15px;
    margin: 0 10px 10px 0;
    font-family: 'Josefin Sans';
    background: white;
    color: $cv-blue;
  }
  &.keyskills, .keyskills{
    display: flex;
    flex-wrap: wrap;
  }
  &.career{
    .cv-skill{
      margin: 0 5px 10px 0;
    }
  }
}
