.attributes-container{
  width: 50%;
  height: 600px;
  margin: 0 auto 60px;

  .x-axis{
    text{
      transform: rotate(-45deg) translate(-47px, 8px);
      font-family: 'Josefin Sans';
    }
  }
}
