#export-graph-container{
  width: 100%;
  height: 100%;
  .export-graph-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .file-uploader{
      margin:auto;
      &.input{
        display: none;
      }
    }
  }


  .button{
    padding: 20px 30px;
    font-size: 16px;
    color: white;
    background: $blue;
    border: none;
    cursor: pointer;
    &:hover{
      background: $dark-blue;
    }
  }
}
