.slider-container{
  height: 10px;
  border: 1px solid black;
  margin: 50px;
  .slider-rail{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    .track{
      position: absolute;
      top:0;
      bottom: 0;
      background: lightblue;
    }
    .step{
      height: 100%;
    }
    .stepmark{
      position: absolute;
      z-index: 1;
      height: calc(100% - 1px);
      border: 1px solid black;
    }
    .handle{
      position: absolute;
      width: 30px;
      height: 30px;
      z-index: 2;
      border-radius: 50%;
      top: -12px;
      background: white;
      border: 2px solid black;
      cursor: pointer;
    }
  }
}
