$blue: #309be8;
$dark-blue: #2a71a5;
$fuschian-dream: #ae3861;
$dark-forrest: #2c3235;
$black: #262525;
$light-border: #e4e3e3;
$lines: #cecdcd;
$sky-blue: #649ecf;
$light-grey: $lines;
$cv-blue: #3f6078;

$misty-pink: #cf649a;
$turqoise: #1ca0a0;
$orange: #e59250;
$green: #55b24e;

$primary-color: $dark-forrest;
$secondary-color: $fuschian-dream;

$font-color: $primary-color;
$icon-color: $black;

.turqoise{
  background: $turqoise;
}
.pink{
  background:$misty-pink;
}
.orange{
  background: $orange;
}
.green{
  background: $green;
}
.dark-blue{
  background: #1d5062;
}
