//SOCIAL
.icon-connection:before {
  content: "\e91b";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-github:before {
  content: "\eab0";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-steam2:before {
  content: "\eaad";
}
//SKILLS
.icon-D3:before {
  content: "\e900";
}
.icon-react:before {
  content: "\e901";
}
.icon-sass-1:before {
  content: "\e902";
  color: #cf649a;
}
.icon-nodejs-icon:before {
  content: "\e903";
  color: #8cc84b;
}
.icon-forward:before{
  content: "\ea1c";
}
.icon-backward{
  transform: rotate(180deg);
  &:before{
    content: "\ea1c";
  }
}
.icon-arrow-down:before{
  content: "\ea36";
}
.icon-android:before {
  content: "\eac0";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-mail:before{
  content: "\ea86";
}

.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}

.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}

.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}

.icon-trophy:before {
  content: "\e99e";
}

.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
