.cv-page{
  display: flex;
  flex: 1;
  background-image: url("/src/img/cv-background.jpg");
  background-size: cover;

  .cv-view{
    width: 100%;
  }

  .cv-content{
    overflow-y: auto;
    height: calc(100% - 74px);
    .cv-entry{
      position: relative;
      margin: 20px 40px;
      h3{
        width: 100%;
        margin-bottom: 20px;
      }
      h4{
        font-size: 16px;
        margin-bottom: 10px;
      }
      p{
        margin-bottom: 15px;
      }
      .carrer-entry:not(:last-child){
        margin-bottom: 40px;
      }
    }
  }
}
