.attributes-page{
  overflow-y: auto;
  flex: 1;
  .info-block{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 80px;
    text-align: center;
    max-width: 820px;
    margin: auto;
    span, h2 {
      z-index: 2;
    }
    .icon-quotes-left{
      color: $misty-pink;
      cursor: default;
      font-size: 30px;
      margin-bottom: 15px;
    }
  }
  h3{
    text-align: center;
    margin-bottom: 20px;
  }
  .specialized-skills{
    display: flex;
    border-top: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
    .skill{
      flex: 1;
      @include autoPaddingBlock();
      border-right: 1px solid $light-border;
      &:last-child{
        border-right:none;
      }
      p{
        text-align: center;
      }
      .icons{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .icon{
          margin: 0 20px;
          font-size: 50px;
          cursor: default;
          &.icon-react {
            color: $sky-blue;
          }
          &.icon-heart {
            color: $misty-pink;
          }
        }
      }
    }
  }
  .force-diagram {
    margin: 60px auto;
    #force-diagram{
      margin: 0 auto;
      display: flex;
    }
    line {
      stroke: #5d7c91;
    }
    .node {
      pointer-events: all;
    }
    text{
      @extend .Josefin-sans;
    }
  }


  @media(max-width: 1023px){
    .specialized-skills{
      flex-direction: column;
      border: none;
      .skill{
        border: none;
        border-bottom: 1px solid #e4e3e3;
        &:first-child{
          border-top: 1px solid #e4e3e3;
        }
      }
    }
  }
}
