.grid-container{
  height: 50vw;
  display: grid;
  grid-gap: 10px;
  &.grid-1, &.grid-2{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.grid-container.grid-1{
  .grid-0{ //VIS
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
  .grid-1{ // W.V
    grid-column: 4;
    grid-row: 1;
  }
  .grid-2{ // memory
    grid-column: 5;
    grid-row: 1;
  }
  .grid-3{ //mastermind
    grid-column: 6;
    grid-row: 1 / span 2;
  }
  .grid-4{ //illustration
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
  }
  .grid-5{ //2048
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  .grid-6{ //game of life
    grid-column: 3;
    grid-row: 3;
  }
  .grid-7{//Qa
    grid-column: 6;
    grid-row: 3;
  }

  @media(max-width: 1300px){
    height: 145vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .grid-0{
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    .grid-1{
      grid-column: 1;
      grid-row: 4;
    }
    .grid-2{
      grid-column: 2;
      grid-row: 2;
    }
    .grid-3{
      grid-column: 1;
      grid-row: 3;
    }
    .grid-4{
      grid-column: 1;
      grid-row: 2;
    }
    .grid-5{
      grid-column: 2;
      grid-row: 3 / span 2;
    }
  }
}
