.mastermind{
  overflow-y: auto;
  background: radial-gradient(#63889e 10%, #1d2431 100%);
  .inner-holder{
    min-height: calc(100vh - 422px);
  }
  h2{
    text-align: center;
    color: white;
    margin: 60px auto 0;
  }
  .game-board{
    display: flex;
    width: 465px;
    justify-content: center;
    margin: 0 auto 100px;
    .game{
      .row{
        width: fit-content;
        display: flex;
        border-radius: 10px;
        margin: 5px 0px;
        .progress-box{
          width: 80px;
          height: 40px;
          padding: 6px 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .evaluation-button{
            background: #51bf64;
            color: white;
            width: 100%;
            height: 100%;
            border-radius: 10%;
            font-size: 14px;
            cursor: pointer;
            box-shadow: 1px 2px 1px 0px #262525;
            border: none;
            transition: all .3s;
            &:hover:not(.locked){
              background: #2f9641;
            }
            &.locked{
              cursor: initial;
              background: #3d464c;
              box-shadow: none;
            }
          }

          .progress-peg{
            background: "none";
            width: 15px;
            margin: 1px 5px;
            height: 15px;
            border-radius: 50%;
            box-shadow: inset 1px 1px 5px 0px #1a132d;
          }
        }
      }
    }
  }
  .pegs, .hidden-code {
    display: flex;
    padding: 10px;
    .peg{
      width: 30px;
      height: 30px;
      margin: 0 20px;
      border-radius: 50%;
      box-shadow: inset 1px 1px 5px 0px #1a132d;
    }
  }
  .row.active .peg:hover{
    box-shadow: inset 1px 1px 11px 2px #1a132d;
  }
  .hidden-code{
    width: fit-content;
    margin: 40px auto 25px;
    border: 4px double #d2d2d2;
    box-shadow: 1px 2px 1px 0px #262525;
    border-radius: 10px;
  }
  .colors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 10px;
    width: 70px;
    .color{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: inset 1px 1px 1px 0px #1a132d;
      &.active, &:hover {
        width: 34px;
        height: 34px;
        border: 3px double white;
      }
    }
  }


  .game-over{
    position: absolute;
    right: calc(50% - 550px);
    top: calc(50% - 200px);
    border: 4px double white;
    padding: 20px 40px;
    h3, p{
      color: white;
    }
    .button-holder{
      margin: 20px 0 0;
      button{
        padding: 15px 20px;
        font-size: 16px;
        color: #272626;
        background: white;
        cursor: pointer;
        border: none;
        font-family: 'Josefin sans';
      }
    }
  }
}
